* {
  box-sizing: border-box;
}

html {
  background: white;
  color: #555;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, td, input, textarea {
  font-family: sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

.mywidget {
  width: 500px;
  margin: 50px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20);
}
