* {
  box-sizing: border-box;
}

html {
  background: white;
  color: #555;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, td, input, textarea {
  font-family: sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mywidget {
  width: 500px;
  margin: auto;
}
