$bg = white
$text = #333
$darktext = $text - 50%
$gray = rgba($text, 0.7)
$lightgray = rgba($text, 0.4)
$accent = dodgerblue
$line = rgba(black, 0.1)

$spinner-size = 28px
$spinner-padding = 40px

$gut = 20px
$pad = 15px

@require 'nib'

/*
 * Reference
 * ---------
 * 
 *   .tb-container
 *     .tb-ticket-form
 *       i.tb-icon
 *       Sorry, not available at this time
 *   
 *   
 *     form.tb-ticket-form
 *       h1.tb-headline
 *         a This is the event title
 *       h5.tb-subheadline
 *         | Subheadline goes here
 *     
 *       // ...items go here
 *       .tb-action
 *         button.tb-submit Order
 *         img.tb-powered-by
 *
 * Items:
 *
 *       // for donations
 *       .tb-donation-items
 *         label.tb-donation
 *           .tb-donation-radio
 *             input(type='radio')
 *     
 *           .tb-donation-info
 *             .tb-title Donate $25
 *             .tb-donation-description ...
 *     
 *           // price (free-text input)
 *           .tb-price.tb-price-open
 *             .tb-donation-amount
 *               .tb-prefix $
 *               input(type='text')
 *     
 *           // price (fixed)
 *           .tb-price.tb-price-fixed
 *             .tb-amount $25.00
 *             .tb-fees + $0.99 fees
 */
    
.tb

  /*
   * resets
   */

  &-container
    div, span, strong, h1, label, button, a, i
      box-sizing: border-box

    a img
      border: 0

  &-header,
  &-headline,
  &-subheadline,
  &-action,
  &-submit,
  &-powered-by,
  &-donation-items,
  &-donation,
  &-donation-info,
  &-price,
  &-donation-amount,
  &-prefix,
  &-amount,
  &-fees
    margin: 0
    padding: 0
    border: 0
    font-size: 1em

  /*
   * spinner
   */

  &-spinner
    box-sizing: border-box
    display: block
    margin: 0 auto
    width: $spinner-size + 2 * $spinner-padding
    height: @width
    border: 0
    animation: tb-rotate 400ms linear infinite
    position: relative

  &-spinner:before
    position: absolute
    top: $spinner-padding
    left: $spinner-padding

    box-sizing: border-box
    display: block
    content: ''
    width: $spinner-size
    height: $spinner-size
    margin: 0
    padding: 0
    border: solid 2px transparent
    border-left-color: $accent
    border-top-color: $accent
    border-radius: 50%

  /*
   * event form
   */

  &-ticket-form
    background: $bg
    color: $text
    border-radius: 3px
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.20); */

  &-ticket-form-error,
  &-ticket-form-closed
    padding: 40px
    text-align: center

  /*
   * header
   */

  &-header
    margin: 0
    padding: 30px
    border-bottom: solid 1px $line

  &-headline /*h1*/
    font-size: 1.5em
    line-height: 1.4

  &-headline a
    color: $darktext
    font-weight: normal
    text-decoration: none

  &-subheadline /*h5*/
    font-size: 1.2em
    font-weight: normal
    color: $gray
    margin-top: 0.3em

  &-donation,
  &-ticket
    border-bottom: solid 1px $line
    padding: $pad 2*$pad
    overflow: hidden

  /*
   * order item
   */

  &-info
    display: inline

  &-donation,
  &-ticket
    display: table
    table-layout: fixed
    width: 100%

  &-donation-radio
    width: 10%
    display: table-cell

  &-donation-info,
  &-ticket-info
    display: table-cell
    width: 70%

  &-price
    display: table-cell
    width: 30%

    text-align: right
    font-weight: normal
    line-height: 1.3
    padding-left: $gut

  &-amount
    display: block
    font-size: 1.5em
    color: $gray

  &-fees
    display: block
    white-space: nowrap
    color: $lightgray
    font-size: 0.9em

  &-quantity
    display: table-cell
    width: 15%
    text-align: right
    padding-left: $gut

  &-quantity input
    width: 50px
    height: 26px
    text-align: center

  /*
   * button
   */

  &-action
    padding: 30px
    overflow: hidden

  &-submit
    width: 120px
    height: 40px
    float: left

    background: $accent
    border-radius: 3px

    color: white
    font-size: 1.2em
    font-weight: bold
    margin: 0
    padding: 0
    border: 0
    cursor: pointer

  &-submit:hover,
  &-submit:focus
    color: $accent + 5%

  &-submit:active
    color: $accent - 5%

  &-powered-by img
    display: block
    height: 30px
    margin-top: 5px
    float: right
    margin-left: 20px

  /*
   * misc
   */

  &-donation-amount
    white-space: nowrap

/*
 * animations
 */

@keyframes tb-rotate
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
